<div class="navbar navbar-expand-sm navbar-light navbar-lewagon mt-2 d-flex justify-content-around">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "icons/android-icon-192x192.png" %>
    <% end %>
</div>
