<div class="container">
    <div class="row min-vh-100 align-items-center">
        <div class="col-xs-12 col-md-6 offset-md-3">
            <p>Start Date</p>
            <p><%= @subscription.start_at %></p>
            <p>End Date</p>
            <p><%= @subscription.ends_at %></p>
            <p>Price</p>
            <p><%= @subscription.start_at %></p>
        </div>
    </div>
</div>